<div class="row">
	<div class="col-md-6 offset-md-3 mt-5 mb-5">
		<h3>Register New Account</h3>
		<form #f="ngForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="registerFirstName">FirstName</label>
				<input type="text" name="firstname" [(ngModel)]="model.firstname" required #firstname="ngModel" class="form-control"
					   id="registerFirstName" placeholder="Enter firstname">
			</div>
			<div class="form-group">
				<label for="registerLastName">LastName</label>
				<input type="text" name="lastname" [(ngModel)]="model.lastname" required #lastname="ngModel" class="form-control"
					   id="registerLastName" placeholder="Enter lastname">
			</div>
			<div class="form-group">
				<label for="registerEmail">Email</label>
				<input type="email" name="email" [(ngModel)]="model.email" required #email="ngModel" class="form-control" id="registerEmail"
					   placeholder="Enter email">
			</div>
			<div class="form-group">
				<label for="registerPassword">Password</label>
				<input type="password" name="password" [(ngModel)]="model.password" required #password="ngModel" class="form-control"
					   id="registerPassword" placeholder="Password">
			</div>
			<div class="form-group"
				[class.has-error]="confirmPassword.touched && confirmPassword.invalid">
				<label for="registerConfirmPassword">Confirm Password</label>
				<input type="confirmpassword" name="confirmpassword" required class="form-control" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel"
					   id="registerConfirmPassword" placeholder="Confirm Password" appConfirmEqualValidator="password">
				<span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual">
					Password and Confirm password does not match
				</span>
			</div>
			<div class="form-group" *ngIf="isAdmin()">
				<label for="inputRole">User Role (THIS IS A ROLE)</label>
				<select id="inputRole" class="form-control" #role (change)="roleChange(role.value)">
					<option value="" disabled>Choose a role</option>
					<option *ngFor="let role of roleOptions" [ngValue]="role">
						{{ role }}
					</option>

				</select>
			</div>
			<div class="form-group" *ngIf="model.role == 'Regular'">
				<label for="inputClaim">Preferred Account Type</label>
				<select id="inputClaim" class="form-control" #claim (change)="claimChange(claim.value)">
					<option value="" disabled>Choose a Account Type</option>
					<option *ngFor="let type of accountTypes" [ngValue]="type">
						{{ type }}
					</option>

				</select>
			</div>
			<button type="submit" [disabled]="f.invalid" class="btn btn-primary">Register <i class="fas fa-sign-in-alt"></i></button>
		</form>
		<div class="service">
            <p>Have an Account?<a [routerLink] = "['/login']"> Login</a></p>
        </div>
	</div>
</div>