<div class="row">
	<div class="col-md-6 offset-md-3 mt-4">
		<h3>Forgot Password</h3>
		<form #f="ngForm" (ngSubmit)="onSubmit(f)">
			<div class="form-group">
				<label for="forgotPasswordEmail">Email</label>
				<input type="email" name="email" [(ngModel)]="userEmail" required #email="ngModel" class="form-control" id="forgotPasswordEmail"
					   placeholder="Enter email">
			</div>

			<div>
				<button type="submit" [disabled]="f.invalid" class="btn btn-primary">Submit <i class="fas fa-sign-in-alt"></i></button>
			</div>

		</form>
		<div class="service">
      <p><a [routerLink] = "['/login']">Back</a></p>
  </div>
	</div>
</div>